[submodule "transformers"]
	path = transformers
	url = https://github.com/huggingface/transformers.git
[submodule "coco_caption"]
	path = coco_caption
	url = https://github.com/LuoweiZhou/coco-caption.git
